// config
@import "./config/font";
@import "./config/mixin";
@import "./config/variable";

// utilities
@import "./utilities/utilities";

// pages
@import "./pages/dashboard";
@import "./pages/attendance";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: $background-color;
}