$background-color:#D2D2D2;
$sidebar-color:#1E2772;
$white: #FFFFFF;
$light-green:#4AA785;
$orange:#E25959;
$primary-heading-color:#102048;
$primary-paragraph-color:#555555;
$secondary-pargraph-color: #1C1C1C;
$table-title-icon-color:rgba(0, 0, 0, 0.4);
$black :#000000;
$card-paragraph: #A5A5A5;